/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* HEADER */

html, body, ul, li, a, p, h1, h3, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body {
  background-image: url(http://i544.photobucket.com/albums/hh354/9zz-rio/lareiragif.gif);
  background-size: cover;
  font-family: sans-serif;
}

nav:after {
  content: "";
  clear: both;
  display: block;
}

nav h1 {
  padding: 10px 20px;
  font-size: 30px;
  float: left;
}

nav {
  width: 700px;
  margin: auto;
  display: block;
  background: red;
  color: white;
}

nav li {
  float: right;
  list-style: none;
}

nav li:hover {
  background-color: gold;
}

li a {
  border-left: 1px dashed white;
  padding: 20px;
  color: white;
  display: block;
  text-decoration: none;
}

/* MAIN */

main {
  background-color: rgba(#fffe);
  width: 700px;
  margin: auto;
}

form, h3 {
  ;
}

.errors {
  padding: 20px 50px;
  font-size: 20px;
  font-style: italic;
}

.errors li {
  list-style: none;
}

main h3 {
  font-size: 30px;
}